@import '../../SCSS/keyframes';
@import '../../SCSS/variables';

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;

    background: $light-background-color-introduction;
    background-size: 400% 400%;
    animation: background 5s ease-in-out infinite;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    color: #1c1c1c;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #268491;
}

.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .fa-bomb {
        font-size: 5em;
        margin: 20px auto;
    }

    .text {
        background: linear-gradient(90deg, #268491, rgb(80, 80, 80));
        background-size: 400%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: background 4s ease-in-out infinite;
    }

    .error-number {
        font-size: 9em;
    }

    .error-message {
        font-size: 3.5em;
    }

    .redirect-link {
        font-weight: 600;
        font-size: 1.3em;
        color: #1c1c1c;
        margin: 20px auto;
        padding: 10px 20px;
        
        transition: all 100ms ease-in-out;

        i {
            margin-right: 8px;
        }

        &:hover {
            border-bottom: 3px solid #1c1c1c;
        }
    }
}

// .fade {
//     animation-fill-mode: both;
//     animation-timing-function: ease-in;
//     animation-play-state: running;
//     animation-iteration-count: 2;
//     animation-delay: 100ms;
// }

.fade-enter {
    animation-name: fadeInLeft;
    animation-duration: 600ms;
    animation-fill-mode: both;
}

.fade-exit {
    animation-name: fadeOutLeft;
    animation-duration: 600ms;
    animation-fill-mode: both;
}