@import '../../../SCSS/mixins';
@import '../../../SCSS/variables';

.contact-container {
    margin: 0 auto;

    .wave-background {
        display: flex;
        left: 0; bottom: 0;
    }
    
    .contact-content {
        display: flex;
        background-image: linear-gradient(180deg, #268491 30%, #519ca7 100%);
        height: 580px;

        .info-container {
            display: flex;
            flex-direction: column;
            margin: 10px auto;

            .info-area {
                display: flex;
                flex-direction: column;
                margin: 20px 0;

                .span-div {
                    color: #fff;
                    margin: 15px 0;

                    [class*="fa-solid fa"] {
                        background-color: #fff;
                        border-radius: 40px;
                        color: #268491;
                        height: 40px;
                        line-height: 40px;
                        margin: auto 3px;
                        width: 40px;
                        font-size: 1.2em;
                        text-align: center;
                    }

                    span {
                        font-size: 1.2em;
                        margin: 0 8px;
                    }
                }
            }
    
            .community-area {
                display: flex;
                margin: 30px auto;
                background-color: #fff;
                border-radius: 12px;
                width: 360px;
                height: 125px;

                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
                        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
                        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

                img {
                    margin: 13px;
                    border-radius: 12px;
                    position: relative;
                    width: 100px;
                    height: 100px;
                    box-shadow: rgba(0, 0, 0, 0.2) 2px 3px 3px 0px, 
                                rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                }

                figcaption {
                    display: flex;
                    flex-direction: column;
                    margin: 25px 0;
                    text-align: center;
                    font-weight: 600;

                    .community-buttons {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .contact-button {
                            display: inline-flex;
                            margin: 10px 8px;
                            border: none;
                            border-radius: 8px;
                            padding: 12px;
                            color: #fff;
                            font-size: 0.9em;

                            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
                                        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
                                        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

                            transition: all 300ms ease-in-out;

                            &:hover {
                                transform: translate(0, -2px);
                            }

                            i {
                                margin-right: 5px;
                            }
                        }

                        .github {
                            background-color: #333;
                        }

                        .discord {
                            background-color: #404EED;
                        }
                    }
                }
            }
        }

        .reach-content {
            display: flex;
            flex-direction: column;
            margin: 20px auto;
            color: #fff;

            .contact-title {
                margin: 0;
                font-size: 1.6em;
                color: #fff;
            }

            .contact-button {
                display: inline-flex;
                border: none;
                border-radius: 8px;
                padding: 13px;
                margin: 35px auto 50px;

                background: #fff;
                color: #1c1c1c;
                font-size: 1em;
                font-weight: 600;

                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
                            rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
                            rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

                transition: all 300ms ease-in-out;
                cursor: pointer;

                &:hover {
                    transform: translate(-2px, -4px);
                }

                i {
                    font-size: 1.3em;
                    margin-left: 8px;
                }
            }

            img {
                border-radius: 50%;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .contact-container {
        .contact-content {
            display: flex;
            flex-direction: column;
            min-height: 800px;
    
            .info-container {
                .info-area {
                    margin: auto;
                }

                .community-area {
                    position: relative;
                    bottom: -430px;
                }
            }
    
            .reach-content {
                position: relative;
                bottom: 200px;
            }
        }
    }
}