@import '../../../SCSS/mixins';
@import '../../../SCSS/variables';

.certificates-container {
    display: flex;
    flex-direction: column;
    margin: 80px auto;

    .certificates-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 30px auto;
        padding: 0;

        color: #1c1c1c;

        .certificates-layout {
            display: flex;
            flex-direction: row;
            margin: 10px auto;
            
            .certificates-image {
                position: relative;
                width: 400px;
                height: 300px;
                flex: 1;

                background-repeat: no-repeat;
                background-position: center center;
                background-attachment: fixed;
                object-fit: cover;
            }

            .certificates-layout-details {
                width: 400px;
                margin: 0 30px;
                text-align: justify;

                .certificates-image-title {
                    text-align: left;

                    &::after {
                        content: '';
                        position: relative;
                        display: block;
                        margin: 8px 0 15px 0;
                        border-top: 3px solid $highlight-color;
                    }

                    .certificates-image-icon {
                        margin-right: 8px;
                        //width: 20px;
                        //height: 18px;
                    }
                }

                .certificates-image-description {
                    font-size: 1.1em;
                }

                .link-reference {
                    display: block;
                    margin: 30px 0;
                    font-weight: 600;
                    font-size: 1.3em;
                    text-decoration: underline;
                    color: #1c1c1c;

                    .fa-arrow-up-right-from-square {
                        margin-left: 8px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .certificates-container {
        margin: 30px auto;

        .certificates-content {
            .certificates-layout {
                flex-direction: column;

                .certificates-image {
                    width: 300px;
                    height: 230px;
                }

                .certificates-layout-details {
                    margin: 30px auto;
                    width: 300px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .certificates-container {
        .certificates-content {
            .certificates-layout {
                flex-direction: column;

                .certificates-layout-details {
                    margin: 30px auto;
                }
            }
        }
    }
}