@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1976d2;
    color: #fff;
}

/* Wave opacity at the top - About Component */

.custom-shape-divider-bottom-1655917476 {
    position: absolute;
    top: -135px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1655917476 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1655917476 .shape-fill {
    fill: #1976d2;
}

/* Wave below the Language and Tools Box - About Component */

.custom-shape-divider-top-1656022149 {
    position: absolute;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    bottom: -70px;
}

.custom-shape-divider-top-1656022149 svg {
    position: relative;
    display: block;
    width: calc(122% + 1.3px);
    height: 71px;
}

.custom-shape-divider-top-1656022149 .shape-fill {
    fill: #18181B;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px white;
    background: #1976d2;
}

::-webkit-scrollbar-thumb {
    background: #fff;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* */

.custom-shape-divider-bottom-1656335499 {
    position: absolute;
    top: -65px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1656335499 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 65px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1656335499 .shape-fill {
    fill: #18181B;
}