@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1976d2;
    color: #fff;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px white;
    background: #1976d2;
}

::-webkit-scrollbar-thumb {
    background: #fff;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* */

.custom-shape-divider-bottom-1656335499 {
    position: absolute;
    top: -65px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1656335499 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 65px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1656335499 .shape-fill {
    fill: #18181B;
}