$highlight-color: #268491;

// ====================================================================== //
//                               LIGHT THEME                              //
// ====================================================================== //

$light-background-color-introduction: linear-gradient(45deg, #ECE9E6, #FFFFFF);
$light-background-color-contact: linear-gradient(45deg, #268491, #000);
$light-color: #fff;
$light-background-color-menu: #268491;

// ====================================================================== //
//                                DARK THEME                              //
// ====================================================================== //

$dark-background-color-introduction: linear-gradient(45deg, #1C1C1C, #000);
$dark-background-color-contact: linear-gradient(45deg, rgb(20, 20, 20), #000);